/* body{
}
.card-container {
    background-color: #e5dfd3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   */
  /* card-display.component.css */

  .card{
    background-color: rgb(152 179 174);
  }
.card-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed (e.g., space-around, center) */
    gap: 20px; /* Adjust the gap between cards */
    padding: 15px;
    /* height: 90vh; */
  }
  
  .card1 {
    width: calc(30% - 10px); /* Adjust card width to fit two cards with gap */
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* background-color: #f0f0f0; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    justify-content: center;
  }
  .card2 {
    width: calc(70% - 10px); /* Adjust card width to fit two cards with gap */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:rgb(201 219 233);;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-right: 10px;
  }
  
  .card-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-body {
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn{
    background-color: #073a57;
    color: white;

  }
  